<aside id="left-sidebar" class="sidebar">
	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
			<hr>
			<li>
				<a href="/characters">Characters</a>
			</li>
			<li>
				<a href="/settings">Settings</a>
			</li>
			<hr>
			<li>
				<a href="/tags">Tags</a>
			</li>
			<li>
				<a href="/sitemap">Sitemap</a>
			</li>
			<li>
				<a href="https://github.com/portfiend/eleventy-oc-directory-template">Get The Template!</a>
			</li>
		</ul>
	</nav>
</aside>