<aside id="left-sidebar" class="sidebar">
	<nav>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Us</a>
			</li>
			<hr>
			{% for _,namespace in namespaces %}
				<li>
					<a href="{{namespace.url}}">{{namespace.title}}</a>
				</li>
			{% endfor %}
			<hr>
			<li>
				<a href="/tags">Tags</a>
			</li>
			<li>
				<a href="/sitemap">Sitemap</a>
			</li>
			<li>
				<a href="https://github.com/portfiend/eleventy-oc-directory-template">Get The Template!</a>
			</li>
		</ul>
	</nav>
</aside>