<!DOCTYPE html>
<html lang="{{metadata.language}}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{metadata.title}}
			{{"| " + pageTitle if pageTitle}}</title>
		<link rel="stylesheet" href="{{metadata.assets.css}}/style.css">
		<link rel="stylesheet" href="{{metadata.assets.css}}/content.css">
		{% for theme in pageThemes %}
			<link rel="stylesheet" href="{{metadata.assets.css}}/page/{{theme}}">
		{% endfor %}

		{% if settings.enableContentWarnings %}
			<script src="{{metadata.assets.js}}/contentWarning.js"></script>
		{% endif %}

		{% if settings.enableLightbox %}
			<script src="{{metadata.assets.js}}/lightbox.js"></script>
		{% endif %}
		
		{% if settings.enableWidgets %}
			<script src="{{metadata.assets.js}}/widgets.js"></script>
		{% endif %}
	</head>
	<body>
		{% include "_sidebar.njk" %}

		<main id="content">
			{{content | safe}}
		</main>

		{% if settings.enableContentWarnings %}
			{% include "_contentWarning.njk" %}
		{% endif %}
		{% if settings.enableLightbox %}
			{% include "_lightbox.njk" %}
		{% endif %}
	</body>
</html>