---
layout: base.njk
tags: [character]

pageTitle: Character Name
thumbnailUrl: thumbnails/character/example.png
pageThemes: []

name: Character Name
title: Informational title
pronouns: null
settings: []

---

{% from "macros/_nav.njk" import tagNav, collectionNav %}

{% set settingPages = [] %}
{% for _setting in settings %}
	{% set data = collections.all | getPageById(_setting) %}
	{{ data and settingPages.push(data) and "" }}
{% endfor %}

<article>
	<main>
		{{ content | safe }}
	</main>

	<footer>

		<ul aria-label="List of settings">
			{% for settingPage in settingPages %}
				<li>
					<a 
					class="setting-link" 
					href="{{settingPage.url}}"
					data-id="{{settingPage.data.id}}">
					Go to {{settingPage.data.name}}
					</a>
				</li>
			{% endfor %}
		</ul>

		{% set previous = collections.character | alphabetizePages | getPreviousCollectionItem %}
		{% set next = collections.character | alphabetizePages | getNextCollectionItem %}
		{{ collectionNav("Characters", "/characters", previous, next) }}
		
		{{ tagNav(tags) }}
	</footer>
</article>