---
layout: base.njk
tags: [character]

pageTitle: Character Name
thumbnailUrl: thumbnails/character/example.png
pageThemes: []

name: Character Name
title: Informational title
pronouns: null
linkedPages: []

---

{% from "macros/_nav.njk" import tagNav, linkNav, collectionNav with context %}

{% set settingPages = [] %}
{% for _setting in settings %}
	{% set data = collections.all | getPageById(_setting) %}
	{{ data and settingPages.push(data) and "" }}
{% endfor %}

<article>
	<main>
		{{ content | safe }}
	</main>

	<footer>
		{{ linkNav() }}

		{% set previous = collections.character | alphabetizePages | getPreviousCollectionItem %}
		{% set next = collections.character | alphabetizePages | getNextCollectionItem %}
		{{ collectionNav("Characters", "/characters", previous, next) }}
		
		{{ tagNav(tags) }}
	</footer>
</article>