---
layout: base.njk
tags: [setting]

pageTitle: Setting Name
thumbnailUrl: thumbnails/setting/example.png
pageThemes: []
enableRightSidebar: true

name: Setting Name
title: Informational title
linkedPages: []

---

{% from "macros/_nav.njk" import tagNav, collectionNav with context %}

<article>
	<main>
		{{ content | safe }}
	</main>

	<footer>
		{% set previous = collections.setting | alphabetizePages | getPreviousCollectionItem %}
		{% set next = collections.setting | alphabetizePages | getNextCollectionItem %}
		{{ collectionNav("Settings", "/settings", previous, next) }}
		
		{{ tagNav(tags) }}
	</footer>
</article>