---

tags:
- example

# Used as a short ID for various page data-retrieving functions.
id: character:example
pageTitle: Character Name
thumbnailUrl: thumbnails/character/example.png
linkedPages: 
- location:example
- story:example
pageThemes:
- snippet/card.css

name: Character Name
subtitle: Informative title
fullName: This guy has a really long name
pronouns: Any pronouns

---
<h1>{{pageTitle}}</h1>

{% tabList id="character", title="Character info" %}
	{% tabButton id="main", label="Basic Information", selected=true %}
	{% tabButton id="gallery", label="Gallery" %}
	{% tabButton id="permissions", label="Permissions" %}
{% endtabList %}

<!-- 
MAIN PANEL 
-->
{% tabPanel id="main", listId="character" %}
	<article class="card char-card card-{{name | slugify}}">
		<header class="card-header">
			<h2>{{name}}</h2>
		</header>
		<div class="card-left card-reference">
			{% set refImgDesc = "Reference image of " + name %}
			{% lightboxImg "thumbnails/character/example.png", refImgDesc %}
		</div>
		<main class="card-right card-details card-highlight">
			<table class="card-table">
				<tbody>
					{% keyValue "Full name", fullName %}
					{% keyValue "Title", subtitle %}
					{% keyValue "Gender", "Example" %}
					{% keyValue "Pronouns", pronouns %}
					{% keyValue "Orientation", "Example" %}
					{% keyValue "Species", "Example" %}
					{% keyValue "Occupation", "Example" %}
					{% keyValue "Residence", "Example" %}
				</tbody>
			</table>
			<div class="card-biography">
					{% renderMarkdown %}
						A basic summary of who this character is. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Morbi varius libero non sem dapibus, eget viverra nisl sagittis. 
						
						Ut interdum mi non sagittis euismod. Suspendisse id venenatis massa. Aliquam ornare, nibh sit amet
						interdum elementum, leo sem laoreet nibh, at sollicitudin diam ipsum eu risus. Aenean gravida eu 
						nibh id tincidunt. Pellentesque lorem mauris, cursus sed ligula eget, cursus posuere risus. Phasellus
						vel enim volutpat, sagittis augue at, condimentum ex.
					{% endrenderMarkdown %}
			</div>
		</main>
	</article>

	{% renderMarkdown %}
## Biography
	
	Here is where you write your character info, in Markdown!

## Appearance

## Personality

	{% endrenderMarkdown %}
{% endtabPanel %}

<!-- 
GALLERY PANEL 
-->
{% tabPanel id="gallery", listId="character" %}
	{% gallery %}
		{% lightboxImg "banner.jpg", "Example image", {
			artist: "Artist name here",
			artist_website: "https://example.com",
			license: "All rights reserved",
			creation_date: "2023-11-20"
		} %}
		{% lightboxImg "portrait.jpg", "Example image", {
			artist: "Artist name here",
			artist_website: "https://example.com",
			license: "All rights reserved",
			creation_date: "2023-11-20"
		} %}
		{% lightboxImg "thumbnails/character/example.png", "Example image", {
			artist: "Artist name here",
			artist_website: "https://example.com",
			license: "All rights reserved",
			creation_date: "2023-11-20"
		} %}
	{% endgallery %}
{% endtabPanel %}

<!-- 
PERMISSIONS PANEL 
-->
{% tabPanel id="permissions", listId="character" %}
	<table class="field-table">
		<caption>Fan work preferences</caption>
		<tbody>
			{% keyValue "Fanworks", "Allowed" %}
			{% keyValue "Commissions", "Ask first" %}
			{% keyValue "Romance", "Allowed" %}
			{% keyValue "OC interaction", "Allowed" %}
			{% keyValue "Shipping", "Canon only" %}
			{% keyValue "Gore", "Ask first" %}
			{% keyValue "NSFW", "Ask first" %}
		</tbody>
	</table>
	<table class="field-table">
		<caption>Trade preferences</caption>
		<tbody>
			{% keyValue "Designer", "Me!!!!!!" %}
			{% keyValue "Sale price", "N/A" %}
			{% keyValue "Up for sale", "Never" %}
			{% keyValue "Up for trade", "No" %}
		</tbody>
	</table>
	{% renderMarkdown %}
Elaborate on your character permissions. Are there certain themes/topics that are off-limits?
How about themes/topics that you'd like to see them featured in more?

### Global preferences
{% include "imports/_globalCharacterPermissions.md" %}
	{% endrenderMarkdown %}
{% endtabPanel %}