.card {
  display: grid;
  width: 100%;
  grid-template-areas: "header header" "reference details";
  grid-template-columns: auto auto;
  grid-template-rows: auto 320px;
  margin: 0 -30px;
  padding: 10px 30px;
  gap: 10px;
}

.card-header {
  grid-area: header;
  background: var(--color-accent);
  padding: 10px;
  border-radius: var(--container-border-radius);
}

.card-header h2 {
  margin: 5px 0;
}

.card-reference {
  grid-area: reference;
  position: relative;
  overflow: hidden;
  border-radius: var(--container-border-radius);
  width: 240px;
}

.card-reference figure {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.card-reference figure a, .card-reference figure img {
  display: block;
  object-fit: cover;
  width: auto;
  height: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: details;
  background-color: rgba(0,0,0,0.1);
  border-radius: var(--container-border-radius);
  padding: 10px;
}

.card-table {
  width: 100%;
}

.card-table tbody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
}

.card-table tr th {
  padding-left: 0;
}

.card-table tr td {
  padding-right: 0;
}

.card-table tr {
  border: none;
  display: flex;
  justify-content: space-between;
}

.card-biography {
  overflow-y: auto;
}

.locard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locard-banner figure {
  margin: 0;
  border-radius: var(--container-border-radius);
  overflow: hidden;
  width: 100%;
  height: 240px;
}

.locard-banner figure a {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.locard-banner figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.locard-details {
  background-color: rgba(0,0,0,0.1); 
  border-radius: var(--container-border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.locard-table {
  width: 100%;
}

.locard-table tbody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.locard-table tr {
  border: none;
  display: flex;
  justify-content: space-between;
}

.locard-biography {
  height: 120px;
  overflow-y: auto;
}

.subloc-card {
  display: grid;
  grid-template: 
    "header header header"
    "left middle right";
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: auto 240px;
  gap: 10px;
}

.subloc-imgcontainer {
  overflow: hidden;
  border-radius: var(--container-border-radius);
}

.subloc-imgcontainer figure {
  display: block;
  margin: 0;
  height: 100%;
}

.subloc-imgcontainer a {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subloc-imgcontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subloc-middle {
  background-color: rgba(0,0,0,0.1);
  border-radius: var(--container-border-radius);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subloc-table {
  width: 100%;
}

.subloc-table tr th {
  padding-left: 0;
}

.subloc-table tr td {
  padding-right: 0;
}

.subloc-biography {
  overflow-y: auto;
}