<div id="lb-overlay" hidden>
	<figure id="lb-preview">
		<img id="lb-img" src="" alt="" />
	</figure>

	<footer id="lb-metadata">
		<div id="lb-caption"></div>
		<table id="lb-metalist"></table>
	</footer>
</div>