{% macro collectionNav(collectionName = "", collectionUrl = "", previous={}, next={}) %}
	<ul class="navigation-bar">
		{% if previous %}
			<li class="nav-previous" aria-label="Previous in {{collectionName}}">
			Previous: <a href="{{ previous.url }}">{{ previous.data.pageTitle }}</a>
			</li>
		{% endif %}

		{% if collectionName %}
			<li class="nav-back" aria-label="Go back to {{collectionName}} directory">
				<a href="{{collectionUrl}}">Back to {{collectionName}}</a>
			</li>
		{% endif %}

		{% if next %}
			<li class="nav-next" aria-label="Next in {{collectionName}}">
			Next: <a href="{{ next.url }}">{{ next.data.pageTitle }}</a>
			</li>
		{% endif %}
	</ul>
{% endmacro %}

{% macro tagNav(tags) %}
	<h2 id="tag-header">Tags</h2>
	<ul aria-labelledby="tag-header">
		{% for tag in tags %}
			<li>
				<a href="/tagged/{{tag | slugify}}" class="tag-link tag-button">{{tag}}</a>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}