:root {
	--bg-body: #aaa;
	--bg-main: #eee;
	--bg-sidebar: var(--bg-main);
	--border-container: 4px solid #222;
	--border-thumbnail: 2px solid #222;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--bg-body);
	display: grid;
	grid-template-areas: "sidebar main";
	grid-auto-columns: 180px 800px;
	margin: 40px 80px;
	padding: 0;
	grid-gap: 20px;
}

main {
	background: var(--bg-main);
	grid-area: main;
	box-sizing: border-box;
	padding: 10px 40px;
	border: var(--border-container);
}

#sidebar {
	background: var(--bg-sidebar);
	grid-area: sidebar;
	box-sizing: border-box;
	padding: 10px 20px;
	border: var(--border-container);
}

#sidebar nav > ul {
	list-style: none;
	padding: 0;
}

.thumb-list {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 100%;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.thumb-list-item a {
	text-decoration: none;
}

.thumb-item-box {
	display: block;
	width: 160px;
}

.thumbnail {
	display: block;
	border: var(--border-thumbnail);
	width: 160px;
	height: 160px;
}