:root {
	--bg-body: #aaa;
	--bg-main: #eee;
	--bg-sidebar: var(--bg-main);
	--border-container: 4px solid #222;
	--border-thumbnail: 2px solid #222;
  --cw-shadow-color: rgba(0, 0, 0, 0.65);
	--cw-visible-color: rgba(0, 0, 0, 0.1);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: var(--bg-body);
	display: grid;
	grid-template-areas: "sidebar main";
	grid-auto-columns: 180px 800px;
	margin: 40px 80px;
	padding: 0;
	grid-gap: 20px;
	overflow-x: hidden;
}

#content {
	background: var(--bg-main);
	grid-area: main;
	box-sizing: border-box;
	padding: 10px 40px;
	border: var(--border-container);
}

#sidebar {
	background: var(--bg-sidebar);
	grid-area: sidebar;
	box-sizing: border-box;
	padding: 10px 20px;
	border: var(--border-container);
}

#sidebar nav > ul {
	list-style: none;
	padding: 0;
}

.thumb-list {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 100%;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.thumb-list-item a {
	text-decoration: none;
}

.thumb-item-box {
	display: block;
	width: 160px;
}

.thumbnail {
	display: block;
	border: var(--border-thumbnail);
	width: 160px;
	height: 160px;
}

[role=tabpanel] {
  border: 1px solid #222;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
}

[role=tab] {
  border: 1px solid #222;
  padding: 5px;
	cursor: pointer;
}

[role=tab][aria-selected=true] {
  background: #cff;
	cursor: initial;
}

#content-warning {
  max-width: 640px;
}

#content-warning::backdrop {
  background: rgba(0, 0, 0, 0.85);
}

#content-warning label {
  font-style: italic;
  background: rgba(0,0,0, 0.1);
  padding: 5px;
  display: inline-block;
}

.blur-content {
  position: relative;
}

.blur-content:not([data-blurred]) .blur-inner {
  background: var(--cw-visible-color);
  box-shadow: var(--cw-visible-color) 0px 0px 5px 5px;
}

.blur-content .blur-warning {
	display: none;
	font-style: italic;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cw-shadow-color);
  box-shadow: var(--cw-shadow-color) 0px 0px 5px 5px;
  color: #eee;
	transition: box-shadow 120ms;
}

.blur-content[data-blurred] .blur-warning {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blur-content:hover .blur-warning {
  box-shadow: var(--cw-shadow-color) 0px 0px 8px 8px;
}

.navigation-bar {
  background-color: #ccc;
  margin: 0 -40px;
  padding: 10px;
  display: grid;
  grid-template-areas: "previous back next";
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.nav-back {
  grid-area: back;
  text-align: center
}

.nav-previous {
  grid-area: previous;
  text-align: left;
}

.nav-next {
  grid-area: next;
  text-align: right;
}