---

tags:
- example

# Used as a short ID for various page data-retrieving functions.
id: "story:example"
pageTitle: Story Name
thumbnailUrl: thumbnails/setting/example.png
linkedPages: []
pageThemes: []

name: Story Name
subtitle: Informative title

---

<h1>{{pageTitle}}</h1>