---

tags:
- example

# Used as a short ID for various page data-retrieving functions.
id: "story:example"
pageTitle: Story Name
thumbnailUrl: thumbnails/story/example.png
linkedPages: []
pageThemes:
- snippet/card.css

name: Story Name
subtitle: Informative title
medium: Book, game, comic, etc.
genre: Science Fiction / Fantasy / Horror / Thriller
authors: Alice, <a href="/about">Bob</a>, Charlie, David, Eve, Faythe, Grace, Heidi, Ivan
rating: Not Yet Rated
storyLength: 100 pages, minutes, episodes, etc.
status: Unreleased
releaseDate: December 31, 2040
link: <a href='#'>Link Text</a>

---

<h1>{{pageTitle}}</h1>

<article class="story-card card story-{{name | slugify}}">
	<header class="story-header card-header">
		<h2>{{name}}</h2>
		<div class="subtitle">{{subtitle}}</div>
	</header>
	<div class="story-banner">
		{% set coverDesc = "Cover image for " + name %}
		{% lightboxImg "stories/example.jpg", coverDesc %}
	</div>
	<main class="card-highlight story-details">
		<table class="story-table">
			{% keyValue "Medium", medium %}
			{% keyValue "Genre", genre %}
			{% keyValue "Authors", authors %}
			{% keyValue "Rating", rating %}
			{% keyValue "Length", storyLength %}
			{% keyValue "Status", status %}
			{% keyValue "Release Date", releaseDate %}
			{% keyValue "Link", link %}
		</table>
	</main>
</article>