---
layout: base.njk
pageTitle: Characters
---

<h1>Characters</h1>

<ul class="thumb-list">
{%- for page in collections.character -%}
	{% set setting = collections.all | getPageById(page.data.setting) %}
  <li class="thumb-list-item">
		{% thumbnail page %}
	</li>
{%- endfor -%}
</ul>