---
layout: base.njk
pageTitle: Settings
---

<h1>Settings</h1>

<ul class="thumb-list">
{%- for page in collections.setting | alphabetizePages -%}
  <li class="thumb-list-item">
		{% thumbnail page %}
	</li>
{%- endfor -%}
</ul>